<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
    rel="stylesheet">
    <script
    src="https://code.jquery.com/jquery-3.7.0.min.js"
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
    crossorigin="anonymous"
  ></script>
  <title>Cyborg</title>

  <!-- Bootstrap core CSS -->
  <link href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="./assets/css/fontawesome.css">
  <link rel="stylesheet" href="./assets/css/templatemo-cyborg-gaming.css">
  <link rel="stylesheet" href="./assets/css/owl.css">
  <link rel="stylesheet" href="./assets/css/animate.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css">
  <!--

TemplateMo 579 Cyborg Gaming

https://templatemo.com/tm-579-cyborg-gaming

-->
</head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader loaded">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky" style="">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="/" class="logo">
              <img src="./assets/images/logo.png" alt="">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Search End ***** -->

            <!-- ***** Search End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li><a href="/" class="active">Epic store</a></li>
              <li><a href="/gift">Gift cards</a></li>
              <li><a href="/game">Valorant</a></li>


            </ul>
            <a class="menu-trigger">
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">

          <!-- ***** Banner Start ***** -->
          <div class="main-banner">
            <div class="row">
              <div class="col-lg-7">
                <div class="header-text">
                  <h6>Welcome To Cyborg</h6>
                  <h4><em>Browse</em> Our Popular Games Here</h4>
                  <div class="main-button">
                    <a href="/browse">Browse Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Banner End ***** -->

          <!-- ***** Most Popular Start ***** -->
          <div class="most-popular">
            <div class="row">
              <div class="col-lg-12">
                <div class="row searchBar heading-section">
                  <div class="col-lg-6 col-sm-12">
                    <h4 class=""><em>Type any Game</em> On Epic</h4>
                  </div>
                  <div class="search col-lg-6 col-sm-12">
                    <form id="go" method="get">
                      <input placeholder="Search here" id="search" type="text" value="">
                    <button type="submit">GO</button>
                    </form>
                  </div>
                </div>
                <div class="row">
                  <%items.forEach((item)=>{%>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                      <div class="item">
                        <div class="discount">
                          <%=item.discount%>
                        </div>
                        <div id="newprice" class='<%=(item.newPrice == "Comming Soon") ? "comming" : "newPrice" %>'>
                          <%=(item.newPrice == "Comming Soon") ? "Comming Soon" : item.newPrice %>
                        </div>
                        <div id="oldprice" class="oldPrice" style="text-decoration: line-through">
                          <%=item.oldPrice%>
                        </div>
                        <img src="<%=item.image%>" alt="" />
                        <div class="details">
                          <h4>
                            <%=item.title%>
                          </h4>
                        </div>
                      </div>
                    </div>
                    <%})%>
                      <div class="">
                        <!-- added by raheem start-->
                        <ul class="arrow">
                          <li><a id="previousPage" class="particle" role="button" aria-label="Go to 57 page"><</a></li>
                          <li><a class="particle active" role="button" href="/browse?page=1&count=40" aria-label="Page 1">1</a></li>

                          <li><a class="particle" role="button" href="/browse?page=2&count=40" >2</a></li>

                          <li><a class="particle" role="button" href="/browse?page=3&count=40" >3</a></li>

                          <li><a class="particle" role="button" href="/browse?page=4&count=40" >4</a></li>

                          <li><a class="particle" role="button" href="/browse?page=5&count=40" >5</a></li>
                          <li><a class="particle" role="button" href="#" aria-label="...">...</a></li>
                          <li><a id="pagedzb" class="particle" role="button" href="/browse?page=<%=lastPage%>&count=40" "><%=lastPage%></a></li>
                          <li><a id="nextPage" class="particle" role="button" ">></a></li>
                        </ul>
                        <script>
                          $(".item").on("click",function(){
                            let title = $(this).find(".details h4").text();
                            let new_price = $(this).find("#newprice").text();
                            let text = `I want this game ${title}, price: ${new_price}`;

                            let urlEncodedText = encodeURIComponent(text.replace(/\s+/g," ").trim());

                            // The specific number to send the message to
                            let phoneNumber = "<%=phoneNumber%>";
                            // Redirect to WhatsApp
                            window.location.href = `https://wa.me/${phoneNumber}?text=${urlEncodedText}`;
                          })

                          $("#go").on("submit",function(e){
                          e.preventDefault();
                          let search = $("#search").val().trim();
                          if(search != "" && search != " " && search !="   "){

                            window.open(`/browse?search=${search}`,"_self");
                          }
                          else{
                            window.open(`/browse`,"_self");
                          }
                  
                        });
                        </script>
                        <script>
                          window.onload = function () {
                            let links = document.querySelectorAll('.arrow .particle');
                            for (let i = 0; i < links.length; i++) {
                              if (links[i].href === window.location.href) {
                                links[i].className += ' active';
                              } else {
                                links[i].classList.remove('active');
                              }
                            }
                          }

                          // Step 1: Select the target element by its id.
                          // Step 1: Select the target element by its id.
                          let next = document.getElementById('nextPage');
                          let previous = document.getElementById('previousPage');
                          let lastPage = '<%=lastPage%>';
                          // Step 2: Add a click event listener to the target element.
                          next.addEventListener('click', function (event) {
                            // Prevent the default action.
                            event.preventDefault();

                            // Step 3: Extract the current page number from the window URL.
                            let currentURL = window.location.href;
                            let currentPage = parseInt(currentURL.match(/page=([0-9]+)/)[1], 10);

                            // Step 4: Increment the page number.
                            let nextPage = currentPage + 1;
                            
                            lastPage = parseInt(lastPage);
                            console.log(lastPage);
                            if (nextPage === lastPage+1) {
                              nextPage = 1;
                            }

                            // Step 6: Construct the new URL with the incremented page number.
                            let nextHref = currentURL.replace(/page=([0-9]+)/, 'page=' + nextPage);

                            // Step 7: Navigate to the new URL.
                            window.location.href = nextHref;
                          });

                          previous.addEventListener('click', function (event) {
                            // Prevent the default action.
                            event.preventDefault();

                            // Step 3: Extract the current page number from the window URL.
                            let currentURL = window.location.href;
                            let currentPage = parseInt(currentURL.match(/page=([0-9]+)/)[1], 10);

                            // Step 4: Increment the page number.
                            let nextPage = currentPage - 1;
                            
                            lastPage = parseInt(lastPage);
                            console.log(lastPage);
                            if (nextPage === 0) {
                              nextPage = lastPage;
                            }

                            // Step 6: Construct the new URL with the incremented page number.
                            let nextHref = currentURL.replace(/page=([0-9]+)/, 'page=' + nextPage);

                            // Step 7: Navigate to the new URL.
                            window.location.href = nextHref;
                          });
                        </script>
                        <!-- added by raheem end-->
                      </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright © 2036 by <a href="https://discord.gg/CFWnYcmZFK">Colda Studio</a> Agency. All rights reserved.

            <br>
          </p>
        </div>
      </div>
    </div>
  </footer>


  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="./vendor/jquery/jquery.min.js"></script>
  <script src="./vendor/bootstrap/js/bootstrap.min.js"></script>

  <script src="./assets/js/isotope.min.js"></script>
  <script src="./assets/js/owl-carousel.js"></script>
  <script src="./assets/js/tabs.js"></script>
  <script src="./assets/js/popup.js"></script>
  <script src="./assets/js/custom.js"></script>





</body>

</html>