<html lang="en"><head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">

  <title>Cyborg</title>

  <!-- Bootstrap core CSS -->
  <link href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="./assets/css/fontawesome.css">
  <link rel="stylesheet" href="./assets/css/templatemo-cyborg-gaming.css">
  <link rel="stylesheet" href="./assets/css/owl.css">
  <link rel="stylesheet" href="./assets/css/animate.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css">
<!--

TemplateMo 579 Cyborg Gaming

https://templatemo.com/tm-579-cyborg-gaming

-->
</head>

<body>

<!-- ***** Preloader Start ***** -->
<div id="js-preloader" class="js-preloader loaded">
  <div class="preloader-inner">
    <span class="dot"></span>
    <div class="dots">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>
<!-- ***** Preloader End ***** -->

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <nav class="main-nav">
                  <!-- ***** Logo Start ***** -->
                  <a href="/" class="logo">
                      <img src="./assets/images/logo.png" alt="">
                  </a>
                  <!-- ***** Logo End ***** -->
                  <!-- ***** Search End ***** -->
                  
                  <!-- ***** Search End ***** -->
                  <!-- ***** Menu Start ***** -->
                  <ul class="nav">
                      <li><a href="/" >Epic store</a></li>
                      <li><a href="/gift" class="active">Gift cards</a></li>
                      <li><a href="/game">Valorant</a></li>
                      
                      
                  </ul>   
                  <a class="menu-trigger">
                      <span>Menu</span>
                  </a>
                  <!-- ***** Menu End ***** -->
              </nav>
          </div>
      </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-content">

        <!-- ***** Banner Start ***** -->
        <div class="main-banner">
          <div class="row">
            <div class="col-lg-7">
              <div class="header-text">
                <h6>Best gift card deals</h6>
                <h4><em>Buy</em> OUR OFFERS AND GET MORE OFFERS</h4>
                <div class="main-button">
                  <a href="/browse">Back home</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ***** Banner End ***** -->

        <!-- ***** Most Popular Start ***** -->
        <div class="most-popular">
          <div class="row">
            <div class="col-lg-12">
              <div class="heading-section">
                <h4><em>Most Popular</em> Gift cards</h4>
              </div>
              <div class="row">
                <%items.forEach((item)=>{%>
                  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="item">
                      <div class="discount">
                        <%=item.discount%>
                      </div>
                      <div id="newprice" class='<%=(item.newPrice == "Comming Soon") ? "comming" : "newPrice" %>'>
                        <%=(item.newPrice == "Comming Soon") ? "Comming Soon" : item.newPrice %> <%=CURRENCY%>
                      </div>
                      <div id="oldprice" class="oldPrice" style="text-decoration: line-through">
                        <%=item.oldPrice%> <%=CURRENCY%>
                      </div>
                      <img src="<%=item.image%>" alt="" />
                      <div class="details">
                        <%if(login){%>
                          
                          <button class="bdelete" type="button"><%=item.id%></button>
                        <%}%>
                        <h4>
                          <%=item.title%>
                        </h4>
                      </div>
                    </div>
                  </div>
                  <%})%>
              </div>
            </div>
          </div>
        </div>
        <!-- ***** Most Popular End ***** -->

        <!-- ***** Gaming Library Start ***** -->
        
        <!-- ***** Gaming Library End ***** -->
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright © 2036 by <a href="https://discord.gg/CFWnYcmZFK">Colda Studio</a> Agency. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>


<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="./vendor/jquery/jquery.min.js"></script>
<script src="./vendor/bootstrap/js/bootstrap.min.js"></script>

<script src="./assets/js/isotope.min.js"></script>
<script src="./assets/js/owl-carousel.js"></script>
<script src="./assets/js/tabs.js"></script>
<script src="./assets/js/popup.js"></script>
<script src="./assets/js/custom.js"></script>
<script>
  $(".bdelete").on("click",function(){
    let id = $(this).text();
    $.ajax({
                    url: '/dgift',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({id}),
                    success: function (info) {
                        if(info.OK){
                            window.location.reload();
                        }
                    }
                });
  });
</script>
</body></html>